html, body {
  height: 100%;
  width:100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif, Arial;
}

.panel{
  margin:0px;
 padding:0px;
 width:100%;
}

.opcion-panel{
 text-decoration: none;
 margin:0px;
 padding-top:5px;
 padding-bottom: 5px;
 padding-left: 10px;
} 

ul .opcion-panel:hover{
 background-color: #00bfff;   
}

ul .select{
 background-color: #0091c2;   
}
ul .opcion-panel a{
 color: #ffffff;
}


.opcion-panel2{
 text-decoration: none;
 margin:0px;
 padding-top:5px;
 padding-bottom: 5px;
 padding-left: 20px;
} 

ul .opcion-panel2:hover{
 background-color: #00bfff;   
}


ul .opcion-panel2 a{
 color: #ffffff;
 font-size: small;
}


.menu {
  height: 85%;
  width:100%;
  background-color: #f0f0f0; /* Color de fondo de ejemplo */
}

.columna-panel{
   height:100%;
 }

.columna {
  overflow-y: auto; /* Agrega un scroll vertical a cada columna */
  height: 100%; /* Establece una altura máxima para las columnas */
  width:100%;
}

.columna-contenido {
  overflow-y: auto;
  height: 100%; /* Establece una altura máxima para las columnas */
}



@media (max-width:768px) {
 .columna-panel{
   height:auto;
 }
 .columna-contenido{
   height: 80%;
 }
}

.head-contenido{
height: auto;  
background-color: rgb(3, 46, 126);
color: rgb(255, 255, 255);
}


/*estilo panel plantas*/

.boton-plantas{
 background-color: rgb(0, 119, 255); 
 border-radius: 5px;
 color:white;
 margin-bottom: 5px;
}

.boton-plantas:hover{
 background-color: rgb(6, 90, 185); 
 border-radius: 5px;
 color:white;
 margin-bottom: 5px;
}

/*Boton agregar*/

.agregar{
 font-size: 12px; /* Cambiar el tamaño de la tipografia */
 text-transform: uppercase; /* Texto en mayusculas */
 font-weight: bold; /* Fuente en negrita o bold */
 color: #ffffff; /* Color del texto */
 border-radius: 100%; /* Borde del boton */
 letter-spacing: 2px; /* Espacio entre letras */
 background-color: #04b448; /* Color de fondo */
 padding: 18px 30px; /* Relleno del boton */
 position: fixed;
 bottom: 40px;
 right: 20px;
 transition: all 300ms ease 0ms;
 box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
 display: block;
     
}


.agregar:hover {
 background-color: #04b448; /* Color de fondo */
 box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
 transform: translateY(-7px);
 color:withe;
}

/*Estilo panel automotriz*/
.imagen-producto img{
  width: 100%;
  max-height: 150px;
}

.contenedor-producto{ 
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 0%;
}

.productos {
  background-image: url('./img/4.jpg');
  background-size: cover; /* Ajusta el tamaño de las imágenes */
  background-position: center center; /* Centra las imágenes */
  background-repeat: no-repeat; /* Evita que las imágenes se repitan */
  height: 300px; /* Establece una altura para el contenedor */
}

/*Panel empleo*/
.empleo{
  border-radius: 20px;
  border-color: white;
  background: #dbe0ff;  /*#f0f2ff*/
  height:230px;
}


@media (max-width:1119px) {
.empleo{
           height:auto;
      }
}

.link-vacante{
  display: block; 
  width: 100%; 
  height: 100%;
  text-decoration:none;
  color: black;
}

.enlace-vacantes{
  font-size: 30px;
}
